* {
  margin: 0;
  padding: 0;
}

/* ---GENERAL PAGE FORMATING--- */
.page-body {
  margin: 3rem;
  text-align: center;
}

/* ---FOOTER--- */
.footer-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
}

/* ---HEADER--- */
.header-nav {
  background-color: #EBE0D0;
  justify-content: space-between;
}
.cat-logo {
  width: 120px;
  padding-left: 30px;
}

/* ---HOME--- */
.raisins {
  height: 250px;
  border-radius: 50%;
  border: 3px solid black;
}

/* ---NAV LINKS--- */
.nav-link {
  color: #FF0080 !important;
  margin-bottom: 10px;
}
.nav-link:hover {
  color: #000 !important;
}
.nav-item {
  align-self: flex-end;
}

/* ---NOT FOUND--- */
.cat-friend {
  width: 200px;
  border: 1px solid black;
  border-radius: 90px;
}
